.nav_header{
  min-height: 15vh;
  width: 100vw;
  background-image: linear-gradient(310deg, #6c519b 0, #5b4797 25%, #483e94 50%, #2f3591 75%, #002e8e 100%);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -0.2em 0 0.4em gray;
}
.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
}
.h1{
  text-transform: uppercase;
  color: gold;
  font-size: 52px;
  text-align: center;
  margin: 0;
}
.ul{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 32px;
  list-style: none;
  flex-wrap: wrap;
}
.link{
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px gray;
  text-decoration: none;
}
.li-navbar{
  margin-right:10px ;
}